body {
  margin: 0;
  font-family: 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar--logo{
  width: 70px;
  height: 70px;
}


nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.head--text{
  margin-left: 20px;
  font-family:  BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section{
  padding: 10px;
  
}


.hero--main{
  display: flex;
  padding: 20px;
}
.hero--image{
  
  width: 125px;
  height: 168px;
  border-radius: 9px;
  margin-bottom: 9px;
}

.hero--title {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 20px;
  font-weight: bold;
}

.card--star {
  margin-left: 10px;
  width: 20px;
}

.stats--text{
  margin: 2px;
  font-size: 10px;
}
.card--stats{
  display: flex;
  flex-direction: column;
}

.first--line{
  display: flex;
}

.second--line{
  display: flex;

}

.hero--date{
  
  font-weight: bold;
  margin-top: 5pxpx;
  margin-left: 10px;
  margin-bottom: 10px;
}

.desc{
  width: 80%;
  margin-left: 10px;
  text-align: left;
}

.last-line{
  display: flex;
  
}